@using Mvc3QuizQuestions.Helpers
@model Mvc3QuizQuestions.Models.Quiz
@{
    ViewBag.Title = "Delete Quiz";
}
<div class="page-header">
    <h2>
        @ViewBag.Title</h2>
</div>
<h3>
    Are you sure you want to delete this?</h3>
@using (Html.BeginFormWithClassName("well"))
{
    <div>
        <fieldset>
            <legend>Quiz</legend>
            <br />
            <div class="row">
                <div class="span2">@Html.LabelFor(model => model.Name)</div>
                <div class="span10">@Html.DisplayFor(model => model.Name)</div>
            </div>
            <div class="row">
                <div class="span2">@Html.LabelFor(model => model.Description)</div>
                <div class="span10">@Html.DisplayFor(model => model.Description)</div>
            </div>
            <div class="form-actions">
                <input type="submit" class="btn btn-danger" value="Delete" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
            </div>
        </fieldset>
    </div>
}
