@model Mvc3QuizQuestions.Models.Quiz
@{
    ViewBag.Title = "Details";
}
<div class="page-header">
    <h2>
        Details</h2>
</div>
<fieldset>
    <legend>Quiz</legend>
    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.Name)</div>
        <div class="span10">@Html.DisplayFor(model => model.Name)</div>
    </div>
    <div class="row">
        <div class="span2">@Html.LabelFor(model => model.Description)</div>
        <div class="span10">@Html.DisplayFor(model => model.Description)</div>
    </div>
</fieldset>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
</div>
