@model IEnumerable<Mvc3QuizQuestions.Models.QuestionChoice>
@{
    ViewBag.Title = "List of Choices";
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Title
            </th>
            <th>
                IsCorrect
            </th>
            <th>
                Created On
            </th>
            <th>
                Updated On
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-mini btn-info" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-mini btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-mini btn-danger" })
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.IsCorrect
                </td>
                <td>
                    @String.Format("{0:g}", item.CreatedOn)
                </td>
                <td>
                    @String.Format("{0:g}", item.UpdatedOn)
                </td>
            </tr>
        }
    </tbody>
</table>
