@model Mvc3QuizQuestions.Models.AnswerQuiz
@{
    ViewBag.Title = string.Format("Taking Quiz: {0}", Model.Quiz.Name);
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<script src="@Url.Content("~/Scripts/take-quiz.js")" type="text/javascript"></script>
@using (Html.BeginForm("Process", "TakeQuiz", FormMethod.Post, new { @class = "well" }))
{
    @Html.Hidden("Quiz.Id", Model.Quiz.Id)
    <div class="quiz">
        @{ int idx = 0; }
        @foreach (var answerQuestion in Model.Questions)
        {
            <div class="question">
                @Html.Hidden(string.Format("Questions[{0}].Question.Id", idx), answerQuestion.Question.Id)
                <h3 class="question-title">
                    @answerQuestion.Question.Title
                </h3>
                <div class="question-choices controls">
                    @foreach (var choice in answerQuestion.Question.Choices.OrderBy(c => Guid.NewGuid()))
                    {
                        <label class="checkbox">
                            @Html.RadioButton(string.Format("Questions[{0}].Answer.Id", idx), @choice.Id)
                            @choice.Title
                        </label>
                        
                    }
                </div>
            </div>
                    idx++;
        }
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Send" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
    </div>
}